# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# no push at pycharm
misc.xml
modules.xml
profiles_settings.xml
study_python_data_type.iml
vcs.xml
